/** CSS STYLE **/
:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --main: #FE8A02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;

}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-VariableFont_wdth\,wght.ttf);
  font-size: 16px;
  line-height: 1.6em;
  color: #2A2626;
}

@font-face {
  font-family: "Neucha";
  src: url(../fonts/Neucha-Regular.ttf);
  font-size: 16px;
  line-height: 1.6em;
  color: #2A2626;
  line-height: 1.6em;
}

h1, h2, h3 {
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3  {
  font-size: 34px;
}

.header-section {
  width: 1110px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.hello {
  display: block;

  color: #fff;
}
